.Note_size_s{
    margin-left: 16.5px;
    top: -0.5px;
    color: #000;
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
}

.Note_direction_under{
    margin-top: 56px;
}

.Note_direction_lover{
    margin-top: 16px;
}

.Note_direction_underText{
    margin-top: 7px;
}

.Note_size_ls{
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}

.Note_textAlign_center{
    text-align: center;
}