@font-face{
    font-family: "Roboto-Regular";
    src: url(../../fonts//Roboto-Regular.ttf);
}

.Note_size_s{
    color: #000;
    font-family: Roboto-Regular;
    font-size: 15px;
    line-height: 21px;
}

.Note_direction_under{
    margin-top: 56px;
}

.Note_direction_lover{
    margin-top: 16px;
}

.Note_direction_underText{
    margin-top: 7px;
}

.Note_size_ls{
    font-family: Roboto-Regular;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}

.Note_textAlign_center{
    text-align: center;
}

.Note_size_sm{
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}

.Note_color_purple{
    color: #6f2cff;
}

.Note_color_white{
    color:#ffffff;
}

.Note_direction_underImg{
    margin-top: 31px;
}


.Note_direction_underTitle{
    margin-top: 47px;
}

.Note_place_underTitle{
    margin-top: 30px;
}

.Note_place_under{
    margin-top: 11px;
}