.Cards-Item {
    display: flex;
    border: solid 2px grey;
    border-radius: 10px;
    height: 58px;
    width: 400px;
    margin: 5px;
    flex-direction: column;
  }

.Cards-Text{
  font-size: 12px;
}
/*Модификатор тут не нужен, можно просто указать что элементом является картинка а не текст*/
.Cards-Image {
    position: absolute;
    height: 55px;
    width: 55px;
    right: 20px;
    margin-top: 0;
  }