.Image_size_s{
    width: 125px;
    height: 35px;
}

.Image_size_sm{
    width: 37px;
    height: 37px;
}

.Image_direction_center{
    position: relative;
    margin-left: 133.5px;
}

.Image_size_b{
    height: 560px;
    width: 996px;
}

.Image_place_center{
    position: absolute;
    left: 50%;
    margin-left: -500px;
    margin-top: 280px;
}

.Image_size_m{
    height: 200px;
    width: 300px;
}

.Image_direction_centerCard{
    margin-top: 25px;
    margin-left: 85.5px;
}

.Image_size_ls{
    width: 26px;
    height: 46px;
}

