.Stats{
    height: 660px;
}

.Stats-Content{
    height: 660px;
}

.Stats-Left{
    position: absolute;
        height: 572px;
        width: 410px;
        margin-left: 5%;
        margin-top: 177px;
}

.Stats-Right{
    display: flex;
    position: absolute;
    height: 660px;
    width: 629px;
    top: 970px;
    left: 50%;
    right: 7%;
}

.Stats-Block{
    height: 220px;
    width: 314.5px;
}

.Stats-Title{
    margin-left: 4%;
}

.Stats-Button{
    margin-top: 58px;
}

.Stats-Text{
    margin-left: 220px;
    margin-top: -50px;
}

.Stats-Note{
    margin-top: 56px;
    margin-left: 16px;
}

.Stats-Under{
    margin-left: 16px;
    margin-top: 7px;
}

.Stats-LinePurple{
    margin-left: 230px;
}

.Stats-LineBlack{
    margin-left: 20px;
}

.Stats-LineGray{
    position: absolute;
    left: 50%;
}

.Stats-LineRight{
    position: absolute;
    left: 50%;
}