.Title_size_b{
    margin-left: 16.5px;
    font-size: 54px;
    line-height: 61px;
    font-weight: 700;
}

@font-face {
    font-family: "Roboto-Bold";
    src: url(../../fonts/Roboto-Bold.ttf);
}

.Title_color_purple{
    color: #6f2dff;
}

.Title_size_s{
    font-family: Roboto-Bold;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
}

.Title_textAlign_center{
    text-align: center;
}

.Title_color_hexGrey{
    color: #1c1c1c1c
}

.Title_size_mm{
    font-weight: 700;
    font-size: 40px;
    line-height: 45px;
}

.Title_direction_right{
    margin-left: 220px;
    margin-top: -50px;
}

.Title_size_sm{
    font-weight: 700;
    font-size: 19px;
    line-height: 23px;
}

.Title_direction_underImg{
    margin-top: 46px;
}

.Title_place_ll{
    position: absolute;
    margin-top: 94px;
    margin-left: 25%;
}

.Title_color_white{
    color: #ffffff;
}

.Title_direction_rightOfIcon{
    margin-left: 105px;
    margin-top: -43px;
}

.Title_color_dbd{
    color: #17002E;
}

.Title_direction_left{
    margin-left: 16.5px;
}