.CommerceAll{
    height: 537px;
    margin-top: 94px;
}


.CommerceAll-Items{
    height: 400px;
    margin-top: 60px;
    display: flex;
    justify-content: space-evenly;
}

.CommerceAll-Note{
    margin-top: 22px;
}