.Ecosystem{
    height: 627px;
    background-color: #f5f5f5;
}

.Ecosystem-Content{
    position: relative;
    height: 438px;
    width: 750px;
    top: 169px;
    left: 110px;
}

.Ecosystem-Note{
    margin-top: 47px;
}

.Ecosystem-Under{
    margin-top: 7px;
}

.Ecosystem-Button{
    margin-top: 74px;
    margin-left: -10px;
}

.Ecosystem-Image{
    position: relative;
    top: -500px;
    left: 725px;
}